<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" ></meta>
<title>Insert title here</title>
<script type="text/javascript" src="/jquery/jquery-3.2.0.js"></script>     
<script type="text/javascript" src="/jquery/jquery-3.2.0.min.js"></script>
<script type="text/javascript" src="/jquery/jquery.form.js"></script>   
</head>
	<style>
	a{text-decoration:none}
	a:visited {color:#000000}	
</style>
<body>
	<form action="/pay/alipay.do" id="alipay">
		<input  type="text"   name="total"  />
		<input  type="button"  onclick="submitpay();"/>
	</form>
</body>
<div  id="hiddenpay"></div>
<script type="text/javascript">
	function submitpay(){
		$("#submitpay").ajaxSubmit(function (data) {
		});
	}

</script>
</html>